@(token: String)(implicit request: play.api.mvc.RequestHeader)
@import securesocial.core.IdentityProvider

@mails.email(Messages("mails.sendSignUpEmail.title")) {
  @mails.emailFormWrapper(Messages("mails.sendSignUpEmail.form.title")) {

    <div class="information">
    
        <p>@Messages("mails.sendSignUpEmail.form.salutation")</p>

        <p>@Messages("mails.sendSignUpEmail.form.msg1")
        <a href="@securesocial.controllers.routes.Registration.signUp(token).absoluteURL(IdentityProvider.sslEnabled)(request)">      
            @Messages("mails.sendSignUpEmail.form.msg2")
        </a> 
        @Messages("mails.sendSignUpEmail.form.msg3")</p>
    </div>
  }
}