@(user: securesocial.core.BasicProfile)(implicit request: play.api.mvc.RequestHeader,env: securesocial.core.RuntimeEnvironment[_])

@mails.email("Turnbulls MIS") {
  @mails.emailFormWrapper("Welcome!") {

      <p>Welcome @user.firstName,</p>

      <p>
        Your new account is ready.
        Click <a href="@env.routes.loginPageUrl(request)">here</a> to log in</p>
@**        Click <a href="@securesocial.controllers.LoginPage.login.absoluteURL(IdentityProvider.sslEnabled)(request)">here</a> to log in
**@
      </p>

  }
}
