@(passwordChangeForm:play.api.data.Form[securesocial.controllers.ChangeInfo])(implicit request: RequestHeader,env: securesocial.core.RuntimeEnvironment[_])
@import securesocial.core.IdentityProvider
@import helper._
@implicitFieldConstructor = @{ FieldConstructor(securesocial.views.html.inputFieldConstructor.f) }

@ss.secure_formWrapper(request, "Turnbulls - password change", Messages("securesocial.passwordChange.title")) {

    @if(flash.containsKey("success")){
        <div class="form-actions">
            <a class="btn btn-default" href="@securesocial.controllers.ProviderControllerHelper.landingUrl">
            @Messages("securesocial.passwordChange.okButton")</a>
        </div>
    } else {
        <form action="@securesocial.controllers.routes.PasswordChange.handlePasswordChange().absoluteURL(IdentityProvider.sslEnabled)(request)"
              class="form-horizontal"
              autocomplete= "off"
              method="POST"
        >
            <fieldset>
                @CSRF.formField(play.filters.csrf.CSRF.Token.getToken(request))
                @helper.inputPassword(
                    passwordChangeForm("currentPassword"),
                    '_label -> Messages("securesocial.passwordChange.currentPassword"),
                    'class -> "input-xlarge"
                )

                @helper.inputPassword(
                    passwordChangeForm("newPassword.password1"),
                    '_label -> Messages("securesocial.passwordChange.newPassword1"),
                    'class -> "input-xlarge"
                )

                @helper.inputPassword(
                    passwordChangeForm("newPassword.password2"),
                    '_label -> Messages("securesocial.passwordChange.newPassword2"),
                    '_error -> passwordChangeForm.error("newPassword"),
                    'class -> "input-xlarge"
                )

                <div class="form-actions">
                    <button type="submit" class="btn btn-primary">@Messages("securesocial.passwordChange.changeButton")</button>
                    <a class="btn btn-default" href="@securesocial.controllers.ProviderControllerHelper.landingUrl">@Messages("securesocial.signup.cancel")</a>
                </div>
            </fieldset>
        </form>
     }
}