@(resetForm:play.api.data.Form[(String, String)], mailToken: String)(implicit request: play.api.mvc.RequestHeader,env: securesocial.core.RuntimeEnvironment[_])
@import helper._
@import securesocial.core.IdentityProvider
@implicitFieldConstructor = @{ FieldConstructor(securesocial.views.html.inputFieldConstructor.f) }

@ss.secure_formWrapper(request, "Turnbulls MIS - Reset password",  Messages("securesocial.password.title") ) {

<form action="@securesocial.controllers.routes.PasswordReset.handleResetPassword(mailToken).absoluteURL(IdentityProvider.sslEnabled)(request)"
          class="form-horizontal"
          autocomplete="off"
          method="POST"
    >
    <fieldset>
        @CSRF.formField(play.filters.csrf.CSRF.Token.getToken(request))
        <div style="margin-left: 20px;">
            <div class="information">
              <p>Please choose a new password.</p>
            </div>
            <div class="row">
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 control-label" for="password1">@Messages("securesocial.signup.password1")</label>
                    <div class="col-xs-12 col-sm-6">
                        <div class="input-group input-group-lg">
                            <span class="input-group-addon">
                                  <i class="fa fa-lock">&nbsp;</i>
                            </span>
                            <input type="password" class="form-control" name="password.password1" value="@resetForm("password.password1")">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 control-label" for="password1">@Messages("securesocial.signup.password2")</label>
                    <div class="col-xs-12 col-sm-6">
                        <div class="input-group input-group-lg">
                            <span class="input-group-addon">
                                  <i class="fa fa-lock">&nbsp;</i>
                            </span>
                            <input type="password" class="form-control" name="password.password2" value="@resetForm("password.password2")">
                        </div>
                    </div>
                </div>
            </div>

            <div class="row form-actions">
                <button type="submit" class="btn btn-primary col-xs-offset-5">@Messages("securesocial.password.reset")</button>
            </div>
        </div>
    </fieldset>
</form>
}


