@(signUpForm: play.api.data.Form[securesocial.controllers.RegistrationInfo], token: String)(implicit request: RequestHeader,env: securesocial.core.RuntimeEnvironment[_])
@import securesocial.core.providers.UsernamePasswordProvider
@import securesocial.core.IdentityProvider
@import helper._
@implicitFieldConstructor = @{ FieldConstructor(securesocial.views.html.inputFieldConstructor.f) }

@ss.secure_formWrapper(request, "Turnbulls MIS - signup", Messages("securesocial.signup.title") ) {

     <form action="@securesocial.controllers.routes.Registration.handleSignUp(token).absoluteURL(IdentityProvider.sslEnabled)(request)"
          class="form-horizontal"
          autocomplete= "off"
          method="POST"
    >
        <fieldset>
          @CSRF.formField(play.filters.csrf.CSRF.Token.getToken(request))
          <div style="margin-left: 20px;">
            <div class="information">
              <p>Almost there.  Please provide the following information to complete your registration</p>
            </div>
            @if( UsernamePasswordProvider.withUserNameSupport ) {
            <div class="form-group
                @if(signUpForm("userName").hasErrors) { has-error }">
                <label class="col-sm-3 control-label" for="userName">@Messages("securesocial.signup.userName")</label>
                <div class="col-sm-6 ">
                    <input type="text" class="form-control" value="@signUpForm("userName").value" name="userName" placeholder="">
                    <p class="help-inline">
                        <small>Required</small>
                    </p>
                </div>
            </div>
            }

            <div class="form-group
                @if(signUpForm("firstName").hasErrors) { has-error }">
                <label class="col-sm-3 control-label" for="firstName">@Messages("securesocial.signup.firstName")</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" value="@signUpForm("firstName").value" name="firstName" placeholder="">
                    <p class="help-inline">
                            <small>Required</small>
                    </p>
                </div>
            </div>

            <div class="form-group
                @if(signUpForm("lastName").hasErrors) { has-error }">
                <label class="col-sm-3 control-label" for="lastName">@Messages("securesocial.signup.lastName")</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" value="@signUpForm("lastName").value" name="lastName" placeholder="">
                    <p class="help-inline">
                            <small>Required</small>
                    </p>
                </div>
            </div>

            <div class="form-group
                @if(signUpForm("password.password1").hasErrors) { has-error }">
                <label class="col-sm-3 control-label" for="password.password1">@Messages("securesocial.signup.password1")</label>
                <div class="col-sm-6">
                    <input type="password" class="form-control" value="@signUpForm("password.password1").value" name="password.password1" placeholder="">
                    <p class="help-inline">
                        @if(signUpForm("password.password1").hasErrors) {
                            @signUpForm.error("password.password1").get.message
                        } else {
                            <small>Required</small>
                        }
                    </p>
                </div>
            </div>
            
            <div class="form-group
                @if(signUpForm("password.password2").hasErrors) { has-error }">
                <label class="col-sm-3 control-label" for="password.password2">@Messages("securesocial.signup.password2")</label>
                <div class="col-sm-6">
                    <input type="password" class="form-control" value="@signUpForm("password.password2").value" name="password.password2" placeholder="">
                    <p class="help-inline">
                        @if(signUpForm("password").hasErrors) {
                            @signUpForm.error("password").get.message
                        } else {
                            <small>Required</small>
                        }
                    </p>
                </div>
            </div>
            
            <div class="col-sm-offset-5 form-actions">
                <button type="submit" class="btn btn-primary">@Messages("securesocial.signup.createAccount")</button>
                <a class="btn btn-default" href="@env.routes.loginPageUrl(request)">@Messages("securesocial.signup.cancel")</a>
            </div>
            
        </fieldset>
    </form>

}