@(startForm:play.api.data.Form[String])(implicit request: play.api.mvc.RequestHeader,env: securesocial.core.RuntimeEnvironment[_])
@import helper._
@import securesocial.core.IdentityProvider
@implicitFieldConstructor = @{ FieldConstructor(securesocial.views.html.inputFieldConstructor.f) }

@ss.secure_formWrapper(request, "Turnbulls - reset password", Messages("securesocial.password.title") ) {

    <form action="@securesocial.controllers.routes.PasswordReset.handleStartResetPassword().absoluteURL(IdentityProvider.sslEnabled)(request)"
          class="form-horizontal"
          autocomplete="off"
          method="POST"
    >
        <fieldset>
          @CSRF.formField(play.filters.csrf.CSRF.Token.getToken(request))
          <div style="margin-left: 20px;">
            <div class="information">
              <p>Enter your email address and we'll send you instructions on how to reset your password.</p>
            </div>
            <div class="row">
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 control-label" for="email">@Messages("securesocial.signup.email1")</label>
                    <div class="col-xs-12 col-sm-6">
                        <div class="input-group input-group-lg">
                            <span class="input-group-addon">
                                <span class="fa fa-envelope"></span>
                                </span>
                            <input type="text" class="form-control" name="email" value="">
                        <div class="input-group input-group-lg">
                    </div>
                </div>
            </div>
            @**
            @helper.inputText(
            startForm("email"),
            '_label -> Messages("securesocial.signup.email1"),
            'class -> "input-xlarge"
            )
            **@
          </div> 
            <div class="row form-actions">
                <button type="submit" class="btn btn-primary col-sm-offset-4">@Messages("securesocial.password.reset")</button>
                <a class="btn btn-default" href="@env.routes.loginPageUrl(request)">@Messages("securesocial.signup.cancel")</a>
            </div>

        </fieldset>
    </form>
}