@(startForm:play.api.data.Form[String])(implicit request: play.api.mvc.RequestHeader, env: securesocial.core.RuntimeEnvironment[_])
@import helper._
@implicitFieldConstructor = @{ FieldConstructor(securesocial.views.html.inputFieldConstructor.f) }
@import securesocial.core.providers.UsernamePasswordProvider.UsernamePassword

@ss.secure_formWrapper(request, "Turnbulls - signup", Messages("securesocial.signup.title") ) {

@defining( env.providers.values.filter( _.id != UsernamePassword) ) { externalProviders =>

  @if(Common.isDev() == false) {
        @if( externalProviders.size > 0 ) {
            <div class="clearfix">
                <p>@Messages("securesocial.login.instructions")</p>
                <p>
                    @for(p <- externalProviders) {
                        @ss.provider(p.id)(request, env)
                    }
                </p>
            </div>
        }
   }
}
    <div class="information">
        <p>@Messages("disscout.signup.narrative")</p>
    </div>
    <form action="@env.routes.handleStartSignUpUrl(request)"
          class="form-horizontal"
          autocomplete="off" method="post"
    >
    
        <fieldset>
            @CSRF.formField(play.filters.csrf.CSRF.Token.getToken(request))
            <div class="row">
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 control-label" for="email">@Messages("securesocial.signup.email1")</label>
                    <div class="col-xs-12 col-sm-6">
                        <div class="input-group input-group-lg">
                            <span class="input-group-addon">
                                <span class="fa fa-user"></span>
                            </span>
                            <input type="email" class="form-control" name="email" value="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-offset-5">
                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary">@Messages("securesocial.signup.createAccount")</button>
                        <a class="btn" href="@env.routes.loginPageUrl(request)">@Messages("securesocial.signup.cancel")</a>
                    </div>
                </div>
            </div>
        </fieldset>
    </form>

}