@()
<!DOCTYPE html>
<html lang="en" ng-app="star">
<head>

<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.js"></script>
<script
	src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.13.0.js"></script>
<script src="assets/dashboard/js/smart-table.min.js"></script>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<link rel="shortcut icon" href="assets/ico/favicon.ico">

<title>STAR - Simulation Testbed for Agent Research</title>


<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="http://wix.github.io/angular-tree-control/angular-tree-control.js"></script>
<script type="text/javascript" src="http://fgnass.github.io/spin.js/spin.min.js"></script>
<script src="assets/dashboard/js/angular-spinner.min.js"></script>
<script src="assets/dashboard/js/angular-loading-spinner.js"></script>	


<!-- Bootstrap core CSS -->
<link href="assets/css/bootstrap.css" rel="stylesheet">

<!-- Custom styles for this template -->
<link href="assets/css/style.css" rel="stylesheet">
<link href="http://wix.github.io/angular-tree-control/css/tree-control.css" rel="stylesheet">
<link href="assets/dashboard/css/dashboard.css" rel="stylesheet">

<!-- <link href="assets/css/fontawesome.css" rel="stylesheet">-->
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">



<style type="text/css">
#main-container {
	margin-top: 250px;
}
</style>


<!--  <link
	href="assets/dashboard/angular-treeview-master/css/angular.treeview.css"
	rel="stylesheet">-->

</head>

<body ng-controller="AppCtrl">

	<!-- Fixed navbar -->
	<div class="navbar navbar-default navbar-fixed-top" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="index.html"><i class="fa fa-star"></i>
					STAR.</a>
			</div>
			<div class="navbar-collapse collapse navbar-right">
				<ul class="nav navbar-nav">
					<li><a href="#" ng-click="open(0)">UPLOAD AGENT</a></li>
					<li><a href="#" ng-click="open(1)">UPLOAD PHYSICS</a></li>
					<li><a href="/test#api">BACK</a></li>
						<span id="spinner" us-spinner="{radius:10, width:3, length: 4, lines: 12,color: '#fff'}"></span>
			
				</ul>
			</div>
			<!--/.nav-collapse -->
		</div>
	</div>
	
	<!-- /Fixed navbar -->
	<div class="container2" >
	
	<script type="text/ng-template" id="upload.html">
        <div class="modal-header">
            <h3 class="modal-title">{{upload}}</h3>
        </div>
        <div class="modal-body">
			 <input type="text" ng-model="myName"/>
             <input type="file" accept=".jar" file-model="myFile"/>
   
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="uploadFile()">Upload</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
    </script>
	
		<div class="col-md-4 sidebar">
		<!-- TREE CONTROL -->
			<div id="showContainers">
				<h4>Running Containers</h4>
			<treecontrol class="tree-classic"
   tree-model="dataForTheTree"
   options="treeOptions"
   on-selection="showSelected(node, $parentNode)"
   selected-node="node1"
   >
   {{node.name}}
</treecontrol>

			</div>

			<div id="createContainer">
				<div class="form-group">
					<input type="text" ng-model="containerName" class="form-control half" placeholder="Container Name">
					<select class="half" ng-model="physicsChoice" ng-options="item.name for item in physics track by item.id"></select>
					<button type="button" class="btn btn-primary">CREATE</button>
				</div>
			</div>
		</div>

		<div id="createAgent" class="col-md-8">
			<div>
				<h4>{{parent.name}}/{{selectedNode.name}}</h4>
				<a href="/v1/{{parent.name}}/{{selectedNode.name}}" class="btn btn-primary" ng-show="agentSelected">
					<i class="fa fa-sign-out"></i>
				</a>
				<a href="" class="btn btn-primary" ng-show="agentSelected">
					<i class="fa fa-trash-o"></i>
				</a>
			</div>
			
			<iframe ng-show="agentSelected" ng-src="{{getIframeSrc(selectedNode.name, parent.name)}}"></iframe>
			<div ng-show="containerSelected" >
			<table st-table="rowCollection" class="table table-striped">
				<thead>
					<tr>
						<th></th>
						<th>File Name</th>
						<th>Uploaded</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="row in agentFiles">
						<td>
						<button ng-click="spawn(row)" type="button" class="close">
								<span aria-hidden="true">&plus;</span>
							</button>
						</td>
						<td>{{row.name}}</td>
						<td>{{row.uploaded}}</td>

						<td>
							<button type="button" class="close" ng-click="deleteAgent(row)" data-dismiss="alert"
								aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</td>
						
					</tr>
				</tbody>
			</table>
			</div>
			
		</div>
	</div>
	
	<script>

var app = angular.module('star', [ 'ui.bootstrap', 'smart-table', 'treeControl', 'ngLoadingSpinner']);

app.controller('PhysicsModalInstanceCtrl', function ($scope, $modalInstance, items, fileUpload) {
	$scope.upload = "Upload Physics";
	 $scope.uploadFile = function(){
	        var file = $scope.myFile;
	        console.log('file is ' );
	        console.dir(file);
	        var uploadUrl = "/v1/upload/physics";
	        fileUpload.uploadFileToUrl(file, $scope.myName, uploadUrl);
	        $modalInstance.close();
	    };
	
	  $scope.cancel = function () {
	    $modalInstance.dismiss('cancel');
	  };
});
app.controller('AgentModalInstanceCtrl', function ($scope, $modalInstance, items, fileUpload) {
	$scope.upload = "Upload Agent";
	 $scope.uploadFile = function(){
	        var file = $scope.myFile;
	        console.log('file is ' );
	        console.dir(file);
	        var uploadUrl = "/v1/upload/agent";
	        fileUpload.uploadFileToUrl(file, $scope.myName, uploadUrl);
	        $modalInstance.close();
	    };
	  $scope.cancel = function () {
	    $modalInstance.dismiss('cancel');
	  };
});

app.directive('fileModel', ['$parse', function ($parse) {
    return {
        restrict: 'A',
        link: function(scope, element, attrs) {
            var model = $parse(attrs.fileModel);
            var modelSetter = model.assign;
            
            element.bind('change', function(){
                scope.$apply(function(){
                    modelSetter(scope, element[0].files[0]);
                });
            });
        }
    };
}]);

app.service('fileUpload', ['$http', function ($http) {
    this.uploadFileToUrl = function(file, name, uploadUrl){
        var fd = new FormData();
        fd.append('file', file);
        fd.append('name', name);
        $http.post(uploadUrl, fd, {
            transformRequest: angular.identity,
            headers: {'Content-Type': undefined}
        })
        .success(function(){
            alert('g');
        })
        .error(function(){
            alert('d');
        });
    }
}]);

app.controller('AppCtrl', function($scope, $http, $modal, $log) {
	
	  $scope.animationsEnabled = true;
	  $scope.upload = "";
	  
	 //$scope.printParent = function ($event) {
		//  var root = $scope;
		 // var currentScope = angular.element($event.target).scope();
		  ///console.log('selected Node details: ', currentScope.node);
		  //currentScope = currentScope.$parent;
		  //console.log('parents::')
		  //while(currentScope.$id !== root.$id) {
		   // console.log(currentScope.node);
		    //currentScope = currentScope.$parent;
		 // }
	//	}
	  $scope.getIframeSrc = function (container, agent) {
  return '/v1/'+ agent +'/' + container;
};
	
		
	  $scope.open = function (type) {
	  var modalInstance;
	  
		if (type == 0) {
			var modalInstance = $modal.open({
			      animation: $scope.animationsEnabled,
			      templateUrl: 'upload.html',
			      controller: 'AgentModalInstanceCtrl',
			      size: 'sm',
			      resolve: {
			        items: function () {
			          return $scope.items;
			        }
			      }
			    });
		}else{
			var modalInstance = $modal.open({
			      animation: $scope.animationsEnabled,
			      templateUrl: 'upload.html',
			      controller: 'PhysicsModalInstanceCtrl',
			      size: 'sm',
			      resolve: {
			        items: function () {
			          return $scope.items;
			        }
			      }
			    });
		}
	    

	    modalInstance.result.then(function (selectedItem) {
	      $scope.selected = selectedItem;
	    }, function () {
	      $log.info('Modal dismissed at: ' + new Date());
	    });
	  };

	  $scope.toggleAnimation = function () {
	    $scope.animationsEnabled = !$scope.animationsEnabled;
	  };
	  
	$scope.containerSelected = false;
	$scope.agentSelected = false;
	
	  $scope.showSelected = function(sel, parent) {
	     $scope.selectedNode = sel;
	     $scope.parent = parent;
	        
	     switch (sel.type)
	         {
	         case "Agent":
	         	$scope.agentSelected = true;
	         	$scope.containerSelected = false;
	         break;
	        
	         case "Entity": break;
		         
	         default:
	        	$scope.containerSelected = true;
        	 	$scope.agentSelected = false;
	         }
	     };
	     
	$scope.treeOptions = {
		    nodeChildren: "children",
		    dirSelectable: true,
		    injectClasses: {
		        ul: "a1",
		        li: "a2",
		        liSelected: "a7",
		        iExpanded: "a3",
		        iCollapsed: "a4",
		        iLeaf: "a5",
		        label: "a6",
		        labelSelected: "a8"
		    }
		}
	
	$scope.dataForTheTree = [];
	
	var getStarInfo = function() {
		$scope.dataForTheTree = [];
	$http.get('/v1/container').success(function(data, status, headers, config) {
    	$.each(data, function(i, item) {
    		var container = {};
    		var children = [];
    		container.name = item.name;
    		$.each(item.entities, function(i, child) {
    			children.push({"name" : child.id, "type" : child.type});
    		});
    		container.children = children;
    	   $scope.dataForTheTree.push(container);
    	});
    }).
    error(function(data, status, headers, config) {
      alert("Could not load container JSON data. This should never happen, as the data is served locally. Soz.")
    });
	}
	$scope.agentFiles = [];
	
	var getAgents = function() {
	$scope.agentFiles = [];

	$http.get('/v1/upload/agent').
    success(function(data, status, headers, config) {
    	$.each(data, function(i, item) {
    	   $scope.agentFiles.push(item);
    	});
    }).
    error(function(data, status, headers, config) {
      alert("Could not load agent file JSON data. This should never happen, as the data is served locally. Soz.")
    });
	}
	
	$scope.spawn = function(row) {
		var spawnUrl = "/v1/"+$scope.selectedNode.name+"/"+row.name;
		 $http.post(spawnUrl, "{}")
	        .success(function(){
	        	 getStarInfo();
	        })
	        .error(function(response){
	            alert(response);
	        });
	}
	$scope.deleteAgent = function(row) {
		var deleteUrl = "/v1/"+$scope.selectedNode.name+"/"+row.name;
		 $http.post(spawnUrl, "{}")
	        .success(function(){
	            alert('posted');
	        })
	        .error(function(response){
	            alert(response);
	        });
	}
	
	
	$scope.physics = [];
	$scope.physicsChoice;
	
	var index = 0; 
	
	$http.get('/v1/upload/physics').
    success(function(data, status, headers, config) {
    	$.each(data, function(i, item) {
    		item.id = index++;
    		
    	    $scope.physics.push(item);
    	});
    }).
    error(function(data, status, headers, config) {
      alert("Could not load physics file JSON data. This should never happen, as the data is served locally. Soz.")
    });
	
	$scope.containerName;
	getAgents();
	getStarInfo();
	// [ {name: 'Agent1', uploaded : '7/3/2015'}];
	
});

	</script>
</body>
</html>