@()
<!DOCTYPE html>
<html lang="en" ng-app="star">
<head>

<script src="assets/dashboard/js/angular.js"></script>
<script
	src="assets/dashboard/js/ui-bootstrap.js"></script>
<script src="assets/dashboard/js/smart-table.min.js"></script>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<link rel="shortcut icon" href="assets/ico/favicon.ico">

<title>STAR - Simulation Testbed for Agent Research</title>


<script src="assets/dashboard/js/jquery-2.1.4.min.js"></script>
<script src="assets/dashboard/js/angular-tree-control.js"></script>
<script type="text/javascript" src="assets/dashboard/js/spin.min.js"></script>
<script src="assets/dashboard/js/angular-spinner.min.js"></script>
<script src="assets/dashboard/js/angular-loading-spinner.js"></script>	
<script src="assets/dashboard/js/jquery-ui.min.js"></script>

<!-- Bootstrap core CSS -->
<link href="assets/css/bootstrap.css" rel="stylesheet">

<!-- Custom styles for this template -->
<link href="assets/css/style.css" rel="stylesheet">
<link href="assets/dashboard/css/angular-tree-control.css" rel="stylesheet">
<link href="assets/dashboard/css/dashboard.css" rel="stylesheet">

<!-- <link href="assets/css/fontawesome.css" rel="stylesheet">-->
<link href="assets/dashboard/css/font-awesome.min.css" rel="stylesheet">



<style type="text/css">
#main-container {
	margin-top: 250px;
}
</style>


<!--  <link
	href="assets/dashboard/angular-treeview-master/css/angular.treeview.css"
	rel="stylesheet">-->

</head>

<body ng-controller="AppCtrl">

	<!-- Fixed navbar -->
	<div class="navbar navbar-default navbar-fixed-top" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span> 
					<span class="icon-bar"></span> 
					<span class="icon-bar"></span> 
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="index.html"><i class="fa fa-star"></i>
					STAR.</a>
			</div>
			<div class="navbar-collapse collapse navbar-right">
				<ul class="nav navbar-nav">
					<li><a href="#" ng-click="open(0)">UPLOAD AGENT</a></li>
					<li><a href="#" ng-click="open(1)">UPLOAD PHYSICS</a></li>
					<li><a href="/test#api">BACK</a></li>
						<span id="spinner" us-spinner="{radius:10, width:3, length: 4, lines: 12,color: '#fff'}"></span>
			
				</ul>
			</div>
			<!--/.nav-collapse -->
		</div>
	</div>
	
	<!-- /Fixed navbar -->
	<div class="container2" >
	
	<script type="text/ng-template" id="upload.html">
        <div class="modal-header">
            <h3 class="modal-title">{{upload}}</h3>
        </div>
        <div class="modal-body">
			 <input type="text" ng-model="myName"/>
             <input type="file" accept=".jar" file-model="myFile"/>
   
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="uploadFile()">Upload</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
    </script>
	
	<a id="collapseButton" ng-click="collapse(this)" data-collapsed="false"><i class="fa fa-arrows-h"></i></a>
		
		
		<div class="col-md-4 sidebar">
		
		<div id="sidebar-header">
		<h4>Running Containers</h4>
		<a href="#" ng-click="config()">RUN <i class="fa fa-cog fa-2"></i></a>
		<!-- <a ng-click="collapse(this)" data-collapsed="false">-</a>-->
		</div>
		<!-- TREE CONTROL -->
			<div id="showContainers">
				
			<treecontrol class="tree-classic"
   tree-model="dataForTheTree"
   options="treeOptions"
   on-selection="showSelected(node, $parentNode)"
   selected-node="node1">
   {{node.name}}
</treecontrol>

			</div>

		
			<div id="createContainer">
				<div class="form-group">
					<input type="text" ng-model="containerName" class="form-control half" placeholder="Container Name">
					<select class="half" ng-model="physicsChoice" ng-options="item.name for item in physics track by item.id"></select>
					<a type="button" class="btn btn-primary" id="spawnContainer" ng-click="spawnContainer()">CREATE</a>
				</div>
			</div>
		</div>

		<div id="createAgent" class="col-md-8">
			<div>
				<h4 ng-hide="configSelected">{{parent.name}}/{{selectedNode.name}}</h4>
				<h4 ng-show="configSelected">Define some metaphysics</h4>
				
				
				<div ng-show="agentSelected" id="agentSelected">
					<a href="/v1/{{parent.name}}/{{selectedNode.name}}" class="btn btn-primary">
						<i class="fa fa-sign-out"></i>
					</a>
					<a href="" class="btn btn-primary">
						<i class="fa fa-trash-o"></i>
					</a>
				</div>
				
				
				<div ng-show="containerSelected" id="containerSelected">
					
					<a ng-click="killContainer()" class="btn btn-primary">
						<i class="fa fa-trash-o"></i>
					</a>
				</div>
				
				<div ng-show="configSelected">
				
				</div>
			</div>
			
			<textarea ng-show="configSelected">
			
			</textarea>
			
			<iframe ng-show="agentSelected" ng-src="{{getIframeSrc(selectedNode.name, parent.name)}}"></iframe>
			<div ng-show="containerSelected" >
			
			
			<h4 id="neighbourTitle">Add Neighbour</h4>
			
			<div id="addNeighbour">
			<button id="neighbourButton" ng-click="addNeighbour()" type="button" class="close">
				<span aria-hidden="true">&plus;</span>
			</button>	
			<input ng-show="neighbourInput" type="text" name="fname">
			</div>
			
			<table st-table="rowCollection" class="table table-striped">
				<thead>
					<tr>
						<th></th>
						<th>Name</th>
						<th>Location</th>
						<th>Status</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="row in neighbours">
					<td>
						<button ng-click="" type="button" class="close">
								<span aria-hidden="true">&plus;</span>
							</button>
						</td>
						
						<td>{{row.name}}</td>
						<td>{{row.location}}</td>
						<td>{{row.status}}</td>
						
						<td>
							<button type="button" class="close" ng-click="" data-dismiss="alert"
								aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</td>
					</tr>
				</tbody>
			</table>
			<hr>
			<h4>Add Entity</h4>
			<table st-table="rowCollection" class="table table-striped">
				<thead>
					<tr>
						<th></th>
						<th>File Name</th>
						<th>Uploaded</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="row in agentFiles">
						<td>
						<button ng-click="spawnAgent(row)" type="button" class="close">
								<span aria-hidden="true">&plus;</span>
							</button>
						</td>
						<td>{{row.name}}</td>
						<td>{{row.uploaded}}</td>

						<td>
							<button type="button" class="close" ng-click="deleteAgent(row)" data-dismiss="alert"
								aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</td>
						
					</tr>
				</tbody>
			</table>
			</div>
			
		</div>
	</div>
	
	<script>

var app = angular.module('star', [ 'ui.bootstrap', 'smart-table', 'treeControl', 'ngLoadingSpinner']);

app.controller('PhysicsModalInstanceCtrl', function ($scope, $modalInstance, items, fileUpload) {
	$scope.upload = "Upload Physics";
	 $scope.uploadFile = function(){
	        var file = $scope.myFile;
	        console.log('file is ' );
	        console.dir(file);
	        var uploadUrl = "/v1/upload/physics";
	        fileUpload.uploadFileToUrl(file, $scope.myName, uploadUrl);
	        $modalInstance.close();
	    };
	
	  $scope.cancel = function () {
	    $modalInstance.dismiss('cancel');
	  };
});
app.controller('AgentModalInstanceCtrl', function ($scope, $modalInstance, items, fileUpload) {
	$scope.upload = "Upload Agent";
	 $scope.uploadFile = function(){
	        var file = $scope.myFile;
	        console.log('file is ' );
	        console.dir(file);
	        var uploadUrl = "/v1/upload/agent";
	        fileUpload.uploadFileToUrl(file, $scope.myName, uploadUrl);
	        $modalInstance.close();
	    };
	  $scope.cancel = function () {
	    $modalInstance.dismiss('cancel');
	  };
});

app.directive('fileModel', ['$parse', function ($parse) {
    return {
        restrict: 'A',
        link: function(scope, element, attrs) {
            var model = $parse(attrs.fileModel);
            var modelSetter = model.assign;
            
            element.bind('change', function(){
                scope.$apply(function(){
                    modelSetter(scope, element[0].files[0]);
                });
            });
        }
    };
}]);

app.service('fileUpload', function ($http, $rootScope) {
    this.uploadFileToUrl = function(file, name, uploadUrl){
        var fd = new FormData();
        fd.append('file', file);
        fd.append('name', name);
        $http.post(uploadUrl, fd, {
            transformRequest: angular.identity,
            headers: {'Content-Type': undefined}
        })
        .success(function(){
        	 $rootScope.$broadcast("getAgents");
        })
        .error(function(){
            alert('d');
        });
    }
});

app.controller('AppCtrl', function($scope, $http, $modal, $log, $rootScope) {
	
	  $scope.animationsEnabled = true;
	  $scope.upload = "";
	  
	  $rootScope.$on("getAgents", function(){
			$scope.getAgents();
		}, true);
	  
	 //$scope.printParent = function ($event) {
		//  var root = $scope;
		 // var currentScope = angular.element($event.target).scope();
		  ///console.log('selected Node details: ', currentScope.node);
		  //currentScope = currentScope.$parent;
		  //console.log('parents::')
		  //while(currentScope.$id !== root.$id) {
		   // console.log(currentScope.node);
		    //currentScope = currentScope.$parent;
		 // }
	//	}
	  $scope.getIframeSrc = function (container, agent) {
		return '/v1/'+ agent +'/' + container;
		};
	
	  $scope.config = function() {
		$scope.agentSelected = false;
       	$scope.containerSelected = false;
       	$scope.configSelected = true;
	  };
	  
	  $scope.open = function (type) {
	  var modalInstance;
	  
		if (type == 0) {
			var modalInstance = $modal.open({
			      animation: $scope.animationsEnabled,
			      templateUrl: 'upload.html',
			      controller: 'AgentModalInstanceCtrl',
			      size: 'sm',
			      resolve: {
			        items: function () {
			          return $scope.items;
			        }
			      }
			    });
		}else{
			var modalInstance = $modal.open({
			      animation: $scope.animationsEnabled,
			      templateUrl: 'upload.html',
			      controller: 'PhysicsModalInstanceCtrl',
			      size: 'sm',
			      resolve: {
			        items: function () {
			          return $scope.items;
			        }
			      }
			    });
		}
	    

	    modalInstance.result.then(function (selectedItem) {
	      $scope.selected = selectedItem;
	    }, function () {
	      $log.info('Modal dismissed at: ' + new Date());
	    });
	  };

	  $scope.toggleAnimation = function () {
	    $scope.animationsEnabled = !$scope.animationsEnabled;
	  };
	  
	$scope.containerSelected = false;
	$scope.agentSelected = false;
	$scope.neighbourInput = false;
	
	$scope.collapse = function(item) {
		$('.sidebar').toggle('slide', {direction : 'left'}, 500);
		//$(item).css({position : 'absolute', left: 0});
		if ($scope.openButtonShow == false) {
			$scope.openButtonShow = true;
			$('#createAgent').animate({left: '33.3%', width: '66.6%'});
		}else{
			$scope.openButtonShow = false;
			$('#createAgent').animate({left: '0px', width:'100%'});
		}
	}
	$scope.addNeighbour = function() {
		$scope.neighbourInput = true;
	}
	  $scope.showSelected = function(sel, parent) {
	     $scope.selectedNode = sel;
	     $scope.parent = parent;
	        
	     switch (sel.type)
	         {
	         case "Agent":
	         	$scope.agentSelected = true;
	         	$scope.containerSelected = false;
	         	$scope.configSelected = false;
	         break;
	        
	         case "Entity": break;
		         
	         default:
	        	$scope.containerSelected = true;
        	 	$scope.agentSelected = false;
        	 	$scope.configSelected = false;
	         }
	     };
	     
	$scope.treeOptions = {
		    nodeChildren: "children",
		    dirSelectable: true,
		    injectClasses: {
		        ul: "a1",
		        li: "a2",
		        liSelected: "a7",
		        iExpanded: "a3",
		        iCollapsed: "a4",
		        iLeaf: "a5",
		        label: "a6",
		        labelSelected: "a8"
		    }
		}
	
	$scope.dataForTheTree = [];
	
	var getStarInfo = function() {
		$scope.dataForTheTree = [];
	$http.get('/v1/').success(function(data, status, headers, config) {
    	$.each(data, function(i, item) {
    		var container = {};
    		var children = [];
    		container.physics = item.physics;
    		container.name = item.name;
    		$.each(item.entities, function(i, child) {
    			children.push({"name" : child.id, "type" : child.type});
    		});
    		container.children = children;
    	   $scope.dataForTheTree.push(container);
    	});
    }).
    error(function(data, status, headers, config) {
      alert("Could not load container JSON data. This should never happen, as the data is served locally. Soz.")
    });
	}
	$scope.neighbours = [{name: 'welcome', location : 'http://192.168.5.1:9000', status : 'active'}];
	
	$scope.agentFiles = [];
	
	$scope.getAgents = function() {
	$scope.agentFiles = [];
		$http.get('/v1/upload/agent').
    	success(function(data, status, headers, config) {
    		$.each(data, function(i, item) {
    	   		$scope.agentFiles.push(item);
    		});
    	}).
    	error(function(data, status, headers, config) {
      		alert("Could not load agent file JSON data. This should never happen, as the data is served locally. Soz.")
    	});
	}
	$scope.killContainer = function() {
		var killUrl = "/v1/"+$scope.selectedNode.name;
		$http.delete(killUrl).error(function(response){
			alert('Could not kill '+$scope.selectedNode.name);
		}).success(function(response){
			getStarInfo();
		});
	}
	$scope.spawnContainer = function() {
		var spawnUrl = "/v1/"+$scope.containerName;
		 $http.post(spawnUrl, $.param({physics:$scope.physicsChoice.name}), {
			    headers:
			    {
			        'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
			    }
			})
			.success(function(){
	        	getStarInfo();
	        })
	        .error(function(response){
	          alert('Could not spawn '+$scope.containerName);
	        });
	}
	
	$scope.spawnAgent = function(row) {
		var spawnUrl = "/v1/"+$scope.selectedNode.name+"/"+row.name;
		alert(spawnUrl);
		 $http.post(spawnUrl, "{}") 
	        .success(function(){
	        	 getStarInfo();
	        })
	        .error(function(response){
	        });
	}
	$scope.deleteAgent = function(row) {
		var deleteUrl = "/v1/upload/agent";
		alert(deleteUrl);
		 $http({
			  method: 'DELETE',
			  url: deleteUrl,
			  params: {
			    name: row.name
			  },
			  data: '{}',
			  headers: {
			    'Accept': 'application/json'
			  },
			  cache: true
			}).success(function(response){
	          $scope.getAgents();
	        })
	        .error(function(response){
	            alert(response);
	        });
	}
	
	
	$scope.physics = [];
	$scope.physicsChoice;
	
	var index = 0; 
	
	$http.get('/v1/upload/physics').
    success(function(data, status, headers, config) {
    	$.each(data, function(i, item) {
    		item.id = index++;
    	    $scope.physics.push(item);
    	});
    }).
    error(function(data, status, headers, config) {
      alert("Could not load physics file JSON data. This should never happen, as the data is served locally. Soz.")
    });
	
	$scope.containerName;
	$scope.getAgents();
	getStarInfo();
	// [ {name: 'Agent1', uploaded : '7/3/2015'}];
	
});

	</script>
</body>
</html>